.slots{
    
    margin-left: 40px;
     display: grid;
      grid-template-columns: repeat(6, 150px);
       gap: 20px;
     
}

.hours{
    color: black;
    
}

body{

    background-color: rgb(245, 240, 240);
}

.cont1{
    padding: 40px;
    margin-bottom: 100px;
    background-color: rgb(245, 240, 240);
}

*{
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;
    
  
}

.conf{
    font-size: 15.5px;
    padding: 6px;
    margin-left: 40px;
    cursor: pointer;
   

}
.conf:hover{
    opacity: 0.7;

}

.main-booking{
    font-size: 35px;
    margin-bottom: 40px;
    font-weight: 600;
}
.main-book{
    font-size: 20px;
  line-height: 30px;
}
.gold{
    color: rgb(43, 207, 43);
    font-weight: 600;
}

.descbook{
    margin-top: 40px;
    margin-bottom: 20px;
    
    color: rgb(39, 177, 39);
    font-size: 15px;
    font-weight: 500;
   
}

.trans{
    border: 1px solid black;
    width: 60px;
    border-radius: 6px;
    height: 25px;
    
}

.one{
    display: flex;
    margin-top: 10px;

}

.avalslot{
   margin-left: 10px;
  align-content: center;
    height: 25px;

font-size: 15px;
color: gray;
}

.trans2{
    background-color: blue;
    border: none;
}

.trans3{
    border: none;
    background-color: red;
}

.three{
    margin-bottom: 45px;
}

@media (max-width: 768px) {

  .slots{
   
    overflow: hidden;
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  }
}
@media (max-width: 1111px) {

  .slots{
   
    overflow: hidden;
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  }
}
@media (max-width: 519px) {

  .slots{
    
    overflow: hidden;
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  }
}